body {
    background: #A919EF !important;
}

img {
    width: 50px;
    height: 50px;
}

.main {
    max-width: 800px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.introduction {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

.accordion {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
    font-weight: bold;
}